/* CSS voor HEADER, FOOTER en CUSTOM PROPERTIES */
/* *, *::after, *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::before, ::after {
	box-sizing: inherit;
}

/* iPhone SE afmetingen */
html {
	width: 100%;
	max-width: 375px;
	margin: 0 auto;
}


/* CUSTOM PROPERTIES */
:root {
	--text-color1:#000000;
	--text-color2: #ffffff;
	--text-color3: #3d3d3d;

	--background-color1:#ffffff;
	--background-color2: #52ae32;
	--background-color3: #f2f2f2;
	
	--search-bar-color: #efefef;
	--banner-background-color: #FFEC00;

	--borderradius-section: 0em 1.25em 1.25em 1.25em;
	--borderradius-button: 0.2em;
	--border-color: #686e77;

	--section-padding: 0.9375em 0.9375em 0em 0.9375em;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Special Elite';
    src: url('../fonts/SpecialElite.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
	font-family: 'DINBlack';
	src: url('../fonts/DINBlackRegular.otf') format('opentype');
	font-weight: normal;
}

/* H1 van de actuele website is ook hidden */
.visually_hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
 	width: 1px;
}

body {
	font-family: 'Roboto', sans-serif;
} 

/* JOUW STYLING */
/* HEADER */
header {
	padding: 1.25em 0.9375em 0em;
	background-color: var(--background-color1);
}

header > img:first-of-type {
	max-width: 7.8125em;
}

header form button {
	width: 20px;
	height: 20px; 
	padding-right: 1em;
}

header form button img {
	width: 20px;
	height: 28px;
}

header a {
	text-decoration: none;
}

header > a {
	width: 5em;
	height: 2em;
	font-family: 'Special Elite', serif;
	font-size: 1.3em; 
	font-weight: bold;
	color: var(--text-color1);
	background-color: var(--banner-background-color);
	display: inline-block;
	position: relative;
	text-align: center;
	padding: 0.6em 0.3em;
	line-height: 1em;
}

/* DONEER (GELE BANNER) */
header > a::before, header > a::after {
	/* background-image: url(/images/gele-banner-links.png); */
	content: "";
	position: absolute;
	top: 0;
	/* left: -0.2em; */
	bottom: 0;
}

header > a::before {
	background-image: url(/images/gele-banner-links.png);
	left: -0.2em;
	background-size: auto 100%;
	width: 10px;
}

header > a::after {
	background-image: url(/images/gele-banner-rechts.png);
	right: -0.2em;
	right: -8px;
	background-position: right;
	/* background-size: auto 100%; */
	width: 10px;
}

 header > a::after {
	background-image: url(/images/gele-banner-rechts.png);
} */

.hulpnodig {
	display: flex;
	align-items: center;
}

.hulpnodig img {
	max-width: 3em;
}

.hulpnodig p {
	font-weight: bold;
	padding: 0.5em;
}

.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 1.75em;
	height: 1.5em;
	background: none;

	appearance: none;
	border: none;
	cursor: pointer;

	font-size: 1em;

	background-image: var(--text-color1);
	display: grid;
	place-items: center;
}

.hamburger:nth-of-type(1) span {
	display: block;
	width: 1em;
	height: 0.1em;
	background-color: #000000;
	border-radius: 0.1em;
}

/* NAV */
nav {
	display: flex;
}

nav li {
	list-style: none;
}

nav img {
	width: 0.75em;
	padding: 0.1em;
}

/* ZOEKBALK */
form  {
	display: inline-flex;
	background-color: var(--search-bar-color);
	align-items: stretch;
	border-radius: 0.3em;
	font-size: 16px;
}

button {
	display: block;
	flex-shrink: 0;
	margin: 0.3em;
	border: none;
	outline: inherit;
	/* aspect-ratio: 1/1; */
	background-color: transparent;
}

input {
	width: 14.8em;
	padding: 0.75em;
	border: none;
	border-radius: 0.3em;
	background-color: transparent;
	outline: none;
}

/* SECTION */
.background {
	background-image: url(../images/foto1.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

/* FOOTER */
footer {
	color: var(--text-color1);
	background-color: var(--background-color1);
	padding: 30px 15px 0px;
}

footer h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin-bottom: 1em;
}

footer section:nth-of-type(1) ul {
    display: flex;  
    align-items: center; 
    gap: 1em; 
	margin-bottom: 0.5em;
}

footer section:nth-of-type(1) ul li {
    display: inline-block;  
}

footer section:nth-of-type(1) ul li a img {
    display: block;  
	width: 1.5em;   
}

footer section:nth-child(2) ul li{
    list-style-type: none;
}

footer > img {
	width: 5em;
}

footer section:nth-of-type(5) {
	color: var(--text-color2);
    background-color: var(--background-color2);
}

/* footer section ul:nth-of-type(4) {
	display: flex;
	align-items: center;
}

footer section:nth-of-type(2) ul li {
    display: inline-block;  
} */


footer section:nth-of-type(5) ul {
    display: flex;
    justify-content: center;
}

footer section:nth-of-type(5) ul li {
    display: inline-block;
	padding: 0;
}

footer section:nth-of-type(5) ul li {
    font-size: 15px;
}